[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/simpleit-hugo-theme"]
	path = themes/simpleit-hugo-theme
	url = https://github.com/marcanuy/simpleit-hugo-theme
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "public"]
	path = public
	url = git@github.com:cunger/cunger.github.io.git
	branch = master
